VITE_SUPABASE_URL=https://iqeqfuhboxrobwszopoy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxZXFmdWhib3hyb2J3c3pvcG95Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NTA0MzUsImV4cCI6MjA5MTAyNjQzNX0.TWpp6LTE3gXm6kKMiar9hsVjMLQudJba6aTCQxM8pb8
VITE_AUTH_REDIRECT_URL=https://teams-chats.netlify.app/
